root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[review/**]
insert_final_newline = unset
charset = unset
indent_style = unset
indent_size = unset
